nav {
  background-color: var(--bg-navbar);
  position: sticky;
  top: 0;
  z-index: 50;
  padding: 20px 40px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: var(--text-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

nav img {
  z-index: 50;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 42px;
  margin-right: 50px;
}

nav ul li {
  font-weight: 600;
  font-size: 1.2rem;
  transition: all 0.5s;
}

nav ul li:hover {
  color: var(--text-primary);
  cursor: pointer;
  scale: 1.2;
}

nav .icons {
  position: absolute;
  right: 24px;
  top: 12px;
  width: 30px;
  height: 30px;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  display: none;
}

nav .icons:hover {
  color: #000;
}

@media screen and (max-width: 767px) {
  nav .icons {
    display: block;
  }

  nav ul {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: fit-content;
    width: 100%;
    padding: 60px 0;
    background-color: var(--bg-navbar);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    transition: all 0.3s ease-in-out;
  }

  nav ul.open {
    transform: translateX(-50%) translateY(0);
  }
}
